body {
  background-color: #f0f0f0;
}

nav {
  grid-template-columns: 1fr 3fr 1fr;
}

#app {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  background-color: #fff;
}

.comment-wrap {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.reply-user-info {
  min-width: 48px;
  min-height: 48px;
}

#dimmed-layer {
  background: rgba(0, 0, 0, 0.4);
}

#write-page {
  top: 100%;
  transition: top 0.5s ease-in-out;
}

input,
textarea {
  outline: none;
  resize: none;
}

#content {
  min-height: 300px;
}

.edit-mode .hidden {
  display: inline-block;
}
.edit-mode .edit-hidden {
  display: none;
}
